[Unit]
Description=prometheus
Documentation=https://prometheus.io/
[Service]
User=root
ExecStart=/usr/local/apps/prometheus/prometheus --web.enable-lifecycle  --config.file=/usr/local/apps/prometheus/prometheus.yml 
ExecReload=on-failure
Restart=always
[Install]
WantedBy=multi-user.target
